In [43]:
import pandas as pd

In [44]:
data = pd.read_csv("heart_attack_prediction_dataset.csv")

In [45]:
pd.options.display.max_columns = None

In [46]:
data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,0,4.168189,Average,0,0,9,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,0,2.078353,Healthy,1,1,9,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,1,9.828130,Average,1,0,9,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,0,5.804299,Unhealthy,1,0,6,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [47]:
columns = ["Sex", "Diet", "Continent", "Hemisphere", "Country"]

for column in columns:
    data[column] = pd.Categorical(data[column]).codes

In [48]:
data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,1,208,158/88,72,0,0,1,0,0,4.168189,0,0,0,9,6.615001,261404,31.251233,286,0,6,0,5,1,0
1,CZE1114,21,1,389,165/93,98,1,1,1,1,1,1.813242,2,1,0,1,4.963459,285768,27.194973,235,1,7,3,4,0,0
2,BNI9906,21,0,324,174/99,72,1,0,0,0,0,2.078353,1,1,1,9,9.463426,235282,28.176571,587,4,4,6,3,0,0
3,JLN3497,84,1,383,163/100,73,1,1,1,0,1,9.828130,0,1,0,9,7.648981,125640,36.464704,378,3,4,3,4,0,0
4,GFO8847,66,1,318,91/88,93,1,1,1,1,0,5.804299,2,1,0,6,1.514821,160555,21.809144,231,1,5,16,1,0,0

In [50]:
columns = ["Exercise Hours Per Week", "Sedentary Hours Per Day", "BMI"]

for column in columns:
    data[column] = data[column].round().astype(int)

In [51]:
data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,1,208,158/88,72,0,0,1,0,0,4,0,0,0,9,7,261404,31,286,0,6,0,5,1,0
1,CZE1114,21,1,389,165/93,98,1,1,1,1,1,2,2,1,0,1,5,285768,27,235,1,7,3,4,0,0
2,BNI9906,21,0,324,174/99,72,1,0,0,0,0,2,1,1,1,9,9,235282,28,587,4,4,6,3,0,0
3,JLN3497,84,1,383,163/100,73,1,1,1,0,1,10,0,1,0,9,8,125640,36,378,3,4,3,4,0,0
4,GFO8847,66,1,318,91/88,93,1,1,1,1,0,6,2,1,0,6,2,160555,22,231,1,5,16,1,0,0

In [52]:
data["Systolic Pressure"] = data["Blood Pressure"].str.split("/").str[0].astype(int)
data["Diastolic Pressure"] = data["Blood Pressure"].str.split("/").str[1].astype(int)

In [53]:
data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,BMW7812,67,1,208,158/88,72,0,0,1,0,0,4,0,0,0,9,7,261404,31,286,0,6,0,5,1,0,158,88
1,CZE1114,21,1,389,165/93,98,1,1,1,1,1,2,2,1,0,1,5,285768,27,235,1,7,3,4,0,0,165,93
2,BNI9906,21,0,324,174/99,72,1,0,0,0,0,2,1,1,1,9,9,235282,28,587,4,4,6,3,0,0,174,99
3,JLN3497,84,1,383,163/100,73,1,1,1,0,1,10,0,1,0,9,8,125640,36,378,3,4,3,4,0,0,163,100
4,GFO8847,66,1,318,91/88,93,1,1,1,1,0,6,2,1,0,6,2,160555,22,231,1,5,16,1,0,0,91,88

In [54]:
data = data.drop(columns=["Patient ID", "Blood Pressure"])

In [55]:
data.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,67,1,208,72,0,0,1,0,0,4,0,0,0,9,7,261404,31,286,0,6,0,5,1,0,158,88
1,21,1,389,98,1,1,1,1,1,2,2,1,0,1,5,285768,27,235,1,7,3,4,0,0,165,93
2,21,0,324,72,1,0,0,0,0,2,1,1,1,9,9,235282,28,587,4,4,6,3,0,0,174,99
3,84,1,383,73,1,1,1,0,1,10,0,1,0,9,8,125640,36,378,3,4,3,4,0,0,163,100
4,66,1,318,93,1,1,1,1,0,6,2,1,0,6,2,160555,22,231,1,5,16,1,0,0,91,88

In [34]:
data["Income"] = ((data["Income"] // 1000) * 1000).astype(int)

In [35]:
data.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,67,1,208,72,0,0,1,0,0,4,0,0,0,9,7,261000,31,286,0,6,0,5,1,0,158,88
1,21,1,389,98,1,1,1,1,1,2,2,1,0,1,5,286000,27,235,1,7,3,4,0,0,165,93
2,21,0,324,72,1,0,0,0,0,2,1,1,1,9,9,235000,28,587,4,4,6,3,0,0,174,99
3,84,1,383,73,1,1,1,0,1,10,0,1,0,9,8,126000,36,378,3,4,3,4,0,0,163,100
4,66,1,318,93,1,1,1,1,0,6,2,1,0,6,2,161000,22,231,1,5,16,1,0,0,91,88

In [57]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

columns_to_scale = [
    "Age",
    "Cholesterol",
    "Systolic Pressure",
    "Diastolic Pressure",
    "Exercise Hours Per Week",
    "Stress Level",
    "Sedentary Hours Per Day",
    "Income",
    "BMI",
    "Triglycerides",
    "Sleep Hours Per Day",
]

data[columns_to_scale] = scaler.fit_transform(data[columns_to_scale])

In [58]:
X = data.drop("Heart Attack Risk", axis=1)
y = data["Heart Attack Risk"]

In [59]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=42
)